

@import url('./blocks/header.css');
@import url('./blocks/fonts.css');
@import url('./blocks/base.css');
@import url('./blocks/sidebar.css');
@import url('./blocks/mainsector.css');
@import url('./blocks/tariffs.css');
@import url('./blocks/reviews.css');
@import url('./blocks/pagination.css');
@import url('./blocks/footer.css');
@import url('./blocks/breadcrumbs.css');
@import url('./blocks/title.css');


.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    
}

.container_flex {
    display: flex;
    justify-content: space-between;
}

























