@font-face {
    font-family: 'robotobold';
    src: url('./fonts/roboto-bold_1-webfont.woff2') format('woff2'),
         url('./fonts/roboto-bold_1-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('./fonts/roboto-light_1-webfont.woff2') format('woff2'),
         url('./fonts/roboto-light_1-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'robotolightitalic';
    src: url('./fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
         url('./fonts/roboto-lightitalic_1-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}