
.footer {
    margin-top: 64px;
    height: 77px;
    background-color: #4b73b5;
    margin: 0px;
}

.cont {
    display: inline-block;
}

.footer__link {
    text-decoration: underline;
    color: white;
    font-weight: 700;
    
}

.logo-foot {
    display: inline-block;
    margin: 0px;
}

.logo__imgr {

    margin: 0px;
    margin-top: 23px;
    vertical-align: middle;

}

.footer__info {
    display: inline-block;
    font-size: 14px;
    width: 236px;
    margin: 0px;
    padding: 0px;
    color: white;
    vertical-align: top;
    margin-top: 12px;
    letter-spacing: -0.3px;
    line-height: 18px;
    font-weight: 300;

}

