
.footer {
    margin-top: 64px;
    height: 77px;
    background-color: #4b73b5;
    margin: 0px;
}

.cont {
    display: inline-block;
}

.footer__link {
    text-decoration: underline;
    color: white;
    font-weight: 700;
    
}

.logo-foot {
    display: inline-block;
    margin: 0px;
}

.logo__imgr {
    display: inline-block;
    margin: 0px;
    margin-left: 231px;
    margin-top: -24px;
    vertical-align: middle;

}

.footer__info {
    display: inline-block;
    font-size: 14px;
    width: 236px;
    margin: 0px;
    padding: 0px;
    color: white;
    vertical-align: top;
    margin-left: 8px;
    margin-top: 12px;
    letter-spacing: -0.3px;
    line-height: 18px;
    font-weight: 300;

}
.social {
    display: inline-block;
    width: 165px;
    margin-left: 311px;
    font-family: "robotolight";
    font-style: normal;
}

.social__contacts-link {
    display: inline-block;
}

.social__contact-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    margin: 0px;
    color: white;
    padding: 0px;
    margin-left: 0px;
    margin-top: 17px;
    margin-bottom: 6px;
}

.social__item {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color:#ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
    
}

.social__item--active {
    opacity: 0.7;
}

.social__img {
    display: inline-block;
    margin-left: 4px;
    
}

.social__list {
    display: inline-block;
}

.social__img-fb {
        display: inline-block;
        margin-left: 7px;
        vertical-align: middle;

}
