.header {
    height: 77px;
    background-color: #4b73b5;
}

.logo__img {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-top: 21px;

}

.header__contacts {
    margin: 0px;
    margin-top: 22px;
    margin-right: 32px;
}

.header__contacts-phone{
    font-size: 21px;
    font-weight: 700;
    line-height: 0px;
    text-transform: uppercase;
    text-align:right;
    margin-top: 20px;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
}



.header__button-link {
    opacity: 0.7;
    color: #ffffff;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    text-align: right;
    color: rgba(255, 255, 255, 0.7);
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
    margin-left: 73px;
    transition-duration: 0.4s;
}


.dropdown {
    position: relative;


}

.dropdown__menu {
    background: #ffffff;
    border: 0px solid #4b73b5;    
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-left: 13px;
    width: 153px;
    height: 71px;
    position: absolute;
    top: 100%;
    margin-top: 19px;
    margin-left: 12px;
    display: none;
    
}

.dropdown__item-time {
    font-family: "Robotobold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    color: rgba(28, 91, 195, 255);
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
}

.dropdown__item {
    font-family: "Robotolight", sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.9);
    text-align: left;
    margin-top: 7px;
    margin-left: 10px;
}

.dropdown:hover .dropdown__menu {
    
    display: block;


}

.dropdown:hover .header__button-link {
    display: inline-block;
    color:white;


}

.dropdown__menu:before {
    content: "";
    height: 30px;
    display: block;
    position: absolute;
    top: -29px;
    left: 0px;
    right: 0px;


}

.triangle {
    position: absolute;
    width: 0; height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    z-index: 50;
    top: 28px;
    left: 156px;
    opacity: 0;
}

.dropdown:hover .triangle {
    opacity: 1;
}