html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.intro {
    width: 100%;
    height: 100%;
    background-image: url('../image2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.intro__logo {
    display: inline-block;
    animation: intro 1.1s;

    
}


.ic1on-intro {
  width: 15px;
  height: 14px;
  background: url('../image/spritesheet2.png') no-repeat cover;
  background-size: 15px 14px;
  background-position: -5px -5px;
  margin-left: 157px;
  margin-top: -15px;
}

.ico1n-intro:hover {
  background-position: -30px -5px;
}

.intro__button {
    display: block;
    margin-top: 41px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 16px;
    width: 188px;
    height: 28px;
    border: 1px solid #1c5bc3;
    border-radius: 3px;
    text-align: left;
    padding-left: 20px;
    color: #1c5bc4;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    transition-duration: 0.5s;  
}

  .intro__button::after {
    content: "";
    width: 15px;
    height: 14px;
    background-image: url('../image/spritesheet2.png');
    background-position: -5px -5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    margin-top: -3px;
    transition-duration: 0.5s;
  }


  .intro__button:hover::after {
    background-position: -30px -5px;
  }


  .intro__button:hover {
      background-color: #1c5bc3;
      color: white;
      background-position: -30px -5px;

  }




@keyframes intro {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }