
main {
    width: 919px;
    display: inline-block;
    overflow: hidden;
}

.main-img {
    position: relative;
    margin: 0px;
    margin-top: 6px;
    margin-left: 21px;

}

.section-info {
    position: relative;
    width: 274px;
    height: 287px;
    background-color: #4b73b5;
    background-image: url('../9.png');
    margin: 0px;
    margin-top: 30px;
    margin-left: 10px;

}


.main-info {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 8px;
    margin-top: 23px;
    text-align: center;
    width: 260px;
    margin-bottom: 24px;


}

.link-request {
    font-family: "Roboto - Bold", sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}

.link-phone { 
    font-family: "Roboto - Bold", sans-serif;
    font-weight: 700;
    color: white;
}

