
.reviews {
    color: #221f1f;
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
    }
    

.title {
    width: 600px;
    height: 43px;
    color: #221f1f;
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 38px;
    margin-left: 35px;
    margin-top: 57px;
    margin-bottom: 74px;
    }

.reviews__list {
    margin-left: 197px;
}
 
.reviews__avatar {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 62px;
    margin: 0px;
    margin-left: -166px
}

.line {
        width: 877px;
    margin-left: -164px;
    height: 1px;
    margin: 0px;
    padding: 0px;
    margin-top: 29px;
    margin-bottom: 23px;
    opacity: .2;
}

.reviews__description {
    
    display: inline-block;
    width: 644px;
    height: 144px;
    margin: 0px;
    vertical-align: top;
    margin-left: 18px;
    

}

.reviews__date {
    color: #656464;
    font-family: "RobotoLight", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin: 0px;
   }

.reviews__desc {
    font-family: "Robotobold", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    font-size: 17px;
    margin-top: 2px;
}

.reviews__text {
    font-family: "Robotolight", sans-serif;
    font-style: normal;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 9px;
}
