
.reviews {
    color: #221f1f;
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
    width: 875px;
    }
    


.reviews__list {
    margin-left: 0px;
}
 
.reviews__avatar {
    display: inline-block;
    width: 171px;
    height: 171px;
    border-radius: 50%;
    margin-bottom: 62px;
    margin: 0px;
    margin-left: 26px
}

.line {
    width: 877px;
    height: 1px;
    color: #656464;
    background-color: gray;
    margin-left: -164px;
    height: 1px;
    margin: 0px;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 29px;
    opacity: .2;
    margin-left: 25px;
}

.reviews__description {
    
    display: inline-block;
    width: 644px;
    height: 144px;
    margin: 0px;
    vertical-align: top;
    margin-left: 18px;
    margin-bottom: 31px;
    

}

.reviews__date {
    color: #656464;
    font-family: "Robotolight", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin: 0px;
    margin-top: -3px;
    margin-bottom: 4px;
   }

.reviews__desc {
    font-family: "Robotobold", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    margin-top: 0px;
    letter-spacing: -0.4px;
}

.reviews__text {
    font-family: "Robotolight", sans-serif;
    font-style: normal;
    font-size: 17px;
    width: 694px;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 9px;
}

.reviews__avatar--active {
    display: inline-block;
    height: 160px;
    width: 171px;
    background-image: url('../image/63.png');
    background-repeat: no-repeat;
    margin-left: 26px;
    padding-left: 174px;
    margin-bottom: 15px;
}
