
.sidebar {
    display: flex;
        flex-direction: column;
    width: 283px;
    vertical-align: top;
}



.menu__general {
    display: inline-block;

}


.menu__list {
    display: flex;
}

span {
    display: inline-block;
}


.menu__icon {
    width: 24px;
    height: 21px;
    background-image: url('../image/spritesheet.png');
    position: relative;
}
.menu__icon_active {
    width: 24px;
    height: 21px;
    background-image: url('../image/spritesheet.png');
    
}

.menu__item:first-child .menu__icon {
    margin-top: 24px;
    margin-left: 21px;
    background-position: -95px -5px;
}
.menu__item:first-child .menu__icon_active {
    margin-top: 24px;
    margin-left: 21px;
    background-position: -5px -5px;
}

.menu__item:nth-child(2) .menu__icon {
    margin-top: 25px;
    margin-left: 91px;
    background-position: -32px -5px;
}
.menu__item:nth-child(2) .menu__icon_active {
    margin-top: 25px;
    margin-left: 90px;
    background-position: -122px -5px;
}

.menu__item:last-child .menu__icon {
    margin-top: 26px;
    margin-left: 94px;
    background-position: -62px -5px;
}
.menu__item:last-child .menu__icon_active {
    margin-top: 26px;
    margin-left: 94px;
    background-position: -202px -5px;
}

.menu__icon:after {
    width: 24px;
    height: 21px;
    content: "";
    display: block;
    background-image: url('../image/spritesheet.png');
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition-duration: 1s;
}

.menu__item:first-child .menu__icon:after {
    background-position: -5px -5px;
}

.menu__item:nth-child(2) .menu__icon:after {
    background-position: -122px -5px;
}

.menu__item:last-child .menu__icon:after {
    background-position: -202px -5px;

}

.menu__item:first-child:hover .menu__icon:after {
    opacity: 1;
}

.menu__item:nth-child(2):hover .menu__icon:after {
    opacity: 1;
}


.menu__item:last-child:hover .menu__icon:after {
    opacity: 1;
}


.menu__title-name:hover {
    color:black;
    transition-duration: 1s;
}


.menu__title-name {
    display: inline-block;
    color: #4b73b5;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    vertical-align: middle;
    transition-duration: 1s;
}

.menu__title-name_active {
    color: black;
}

.menu__title-name:nth-child(2) {
    margin-top: -15px;
    margin-left: 9px;
}


.menu__link_active {
    color: black;
}

.menu__reviews {
    display: flex;
}

.menu__crew {
    display: inline-block;
}

.menu-link {
    text-decoration: none;
    vertical-align: middle;
}
 