.social {
    display: inline-block;
    width: 165px;
    margin-right: 22px;
    font-family: "robotolight";
    font-style: normal;
    margin-left: 73px;
    margin-top: 10px;
}

.social--reviews {
    margin-left: 71px;
    margin-top: 9px;
}

.social__contacts-link {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.social__contact-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    margin: 0px;
    color: black;
    padding: 0px;
    margin-left: -4px;
    margin-top: 17px;
    margin-bottom: 6px;
}


.social__item {

    display: inline-flex;
    width: 14px;
    height: 17px;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    text-align: center;
    background-image: url('../image/spritesheet.png');

}

.social__item:first-child {
    background-position: -319px -5px;
}

.social__item:nth-child(2) {
    background-position: -235px -5px;
}

.social__item:nth-child(3) {
    background-position: -251px -5px;
}

.social__item:nth-child(4) {
    background-position: -298px -5px;
}

.social__item:last-child {
    background-position: -276px -5px;
}


.social__item:hover {
    transform: scale(1.1)
}


.social__list {
    display: inline-block;
    margin-top: 5px;
    margin-left: -8px;
}

.social__img-fb {
        display: inline-block;
        margin-left: 7px;
        vertical-align: middle;

}

.social--crew {
    margin-left: 81px;
    margin-top: -1px;
    margin-bottom: 303px;
}