.title-tariffs {
    margin: 0px;
    margin-left: 32px;
    margin-top: 13px;
    
}
.tarrifs__list {
    display: flex;
    width: 272px;
    margin-left: 6px;
    margin-top: 26px;
    height: 372px;
}

.tariffs__desc {
    display: flex;
}

.tariffs__item-title {
    color: #221f1f;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 80px;
    margin-top: 25px;
}


.title-tariffs {
    width: 180px;
color: #221f1f;
font-family: "Roboto", sans-serif;
font-size: 49px;
font-weight: 700;
line-height: 38px;
}


.tarrifs__background-back {
    margin-left: 86px;
    margin-top: 41px;
    width: 70px;
    height: 70px;
    background-color: #4b73b5;
    border-radius: 50%;

}

.tariffs__title {
    width: 68px;
    font-family: "Roboto", sans-serif;
    color: #212121;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    margin-left: 96px;
    margin-top: 27px;
}

.tariffs__item {
    min-width: 272px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1)

}

.tariffs__desc {
    width: 272px;
}

.tariffs__title-desc {
    margin-top: 18px;
    color: #221f1f;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    margin-left: 42px;
}


.tariffs_service {
    text-align: center;
    padding-left: 17px;

}

.tariffs__services-desc {
    width: 100%;
    margin-top: 9px;
    margin-left: 49px;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    list-style-type: disc;
    text-align: left;
    line-height: 25px;
    letter-spacing: -0.6px;
}

.tarrifs__price {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 54px;
    font-weight: 400;
    color: #202020;
    letter-spacing: -1.07px;
    margin: 0px;
    margin-left: 87px;
    margin-top: 14px;
}
}