
.reviews-title {
width: 188px;
color: #221f1f;
font-family: "Tahoma";
font-size: 47px;
font-weight: 700;
font-style: normal;
text-decoration: none;
margin-left: 21px;
margin-top: 28px;
margin-bottom: 57px;
}

.title {
    font-style: normal;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    margin-left: 22px;
    margin-top: 14px;
    margin-bottom: 42px;
}
 .title-crew{
    width: 182px;
    height: 35px;
    color: #221f1f;
    font-family: "Roboto", sans-serif;
    font-size: 49px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 58px;
 }


  .title-crew--active {
    color: #221f1f;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    margin-left: 87px;
    margin-top: 17px;
    margin-bottom: 0px;
  }