
.reviews-title {
width: 188px;
color: #221f1f;
font-family: "Tahoma";
font-size: 47px;
font-weight: 700;
font-style: normal;
text-decoration: none;
margin-left: 32px;
margin-top: 35px;
margin-bottom: 59px;
}

.title {
    font-style: normal;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    margin-left: 33px;
    margin-top: 38px;
    margin-bottom: 74px;
}
 .title-crew{
    width: 180px;
    color: #221f1f;
    font-family: "Roboto", sans-serif;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    margin: 0px;
    padding: 0px;
    margin-left: 31px;
    margin-top: 26px;
    margin-bottom: 46px;
 }
  .title-crew--active {
    margin-left: 32px;
    margin-top: 4px;
  }